/*...................landing page/header..................*/
.company-name{
    font-family:'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
}

.slogan {
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

}

.scroll-down-link {
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;

}
/*.........link-fonts here...*/
.logo-small{
    font-family:'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    
}
.links {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: white;
}
.links a:link a:visited{
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: white;
}
/*...................why choose us..................*/
.title-why{
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;

}

.text-why {
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

}

.button-explore {
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

}
/*...................how it works..................*/
/*...................house section..................*/

.country-text-sqaure {
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

}

.title-text-sqaure {
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

}

.text-text-square {
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

}

/*...................testimonial..................*/

.title-testimonial{
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;

}
/*.text-text-square styled above*/

/*...................footer..................*/
.logo-footer{
    font-family:'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}

.slogan-footer{
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}