.footer{
    max-height: 271px;
    width: 100%;
    background-color: #232323;
}

.footer-items{
    color:white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}