ul li{
    list-style-type: none;
    display: inline;

}

.header {
    max-height: 821px;
    max-width: 100%;
    position: relative;
}

.logo-searchbar-link{
    position:absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
}

.page-links{
    max-height: 83px;
    max-width: 1773px;
    position:relative;
    bottom:0%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #5474FD;
    
}