ul li{
    list-style-type: none;
    display: inline;

}

.header {
    max-height: 821px;
    width: 100%;
    position: relative;
}

.logo-searchbar-link{
    position:absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
}

.fa-solid fa-angle-down{
    width: 14px;
    height: 8px;
    color: white;
    font-family: "FontAwsome";
}
.page-links{
    max-height: 83px;
    position:absolute;
    bottom:0%;
}