.house-section{
    max-height: 1400px;
    width: 100%;
}

.grand-spain-1{
    max-height: 700px;
    width: 100%;
    position:relative;
}

.text-square-1 {
    max-width: 540px;
    max-height: 371px;
    position:absolute;
    color: white;
    top: 50%;
    left: 30%;
}

.grand-spain-2{
    max-height: 700px;
    width: 100%;
    position:relative;
}

.text-square-2 {
    max-width: 540px;
    max-height: 371px;
    position:absolute;
    color: white;
    top: 50%;
    left: 30%;
}

.button-book{
    width:228px;
    height: 63px;
    background-color:#5474FD;
    color: white;
    border: none;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
        
}