.how-it-works{
    width: 100%;
    background-color: black;
    position: relative;
}

.icons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;


}

.icon-text{
    width: 352px;
    height: 163px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


