

nav{
    height: 83px; 
    width: 100%;
    background-color: #5474FD; 
    
}

.logo-small{
    display: flex;
    justify-content: flex-start;
}
.page-links{
    color: white;
    display: flex;
    justify-content:flex-end;
   
   
  .links{
    display: flex;
    justify-content: space-around;
  } 
    
}

