.testimonial{
    max-height: 731px;
    width: 100%;
    position: relative;
}
.image-hike-text {
    max-width: 1113px;
    max-height: 287px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 30%;
    left: 10%;
   
 
    
}


.image-hiking{
    position: relative;
    padding: 10px;
}



.title-text-square {
    max-width: 581px;
    max-height: 161px;
    position:relative;
    color: white;
    padding: 10px;
    
    
}