.footer {
  max-height: 271px;
  width: 100%;
}

ul li {
  list-style-type: none;
  display: inline;
}

.header {
  max-height: 821px;
  width: 100%;
  position: relative;
}

.logo-searchbar-link {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
}

.page-links {
  max-height: 83px;
  position: absolute;
  bottom: 0%;
}

.house-section {
  max-height: 1400px;
  width: 100%;
}

.grand-spain-1 {
  max-height: 700px;
  width: 100%;
  position: relative;
}

.text-square-1 {
  max-width: 540px;
  max-height: 371px;
  position: absolute;
  color: white;
  top: 50%;
  left: 30%;
}

.grand-spain-2 {
  max-height: 700px;
  width: 100%;
  position: relative;
}

.text-square-2 {
  max-width: 540px;
  max-height: 371px;
  position: absolute;
  color: white;
  top: 50%;
  left: 30%;
}

img {
  max-width: 100%;
  height: auto;
}

.testimonial {
  max-height: 731px;
  width: 100%;
  position: relative;
}

.title-text-square {
  max-width: 1110px;
  max-height: 404px;
  position: absolute;
  color: white;
  top: 50%;
  left: 30%;
  right: 30%;
}

.why-choose-us {
  max-height: 685px;
  width: 100%;
  position: relative;
}

.text-button-why-choose-us {
  max-width: 526px;
  max-height: 342px;
  color: white;
  position: absolute;
  top: 50%;
  left: 30%;
}