.footer {
  max-height: 271px;
  width: 100%;
}

ul li {
  list-style-type: none;
  display: inline;
}

.header {
  max-height: 821px;
  width: 100%;
  position: relative;
}

.logo-searchbar-link {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
}

.page-links {
  max-height: 83px;
  position: absolute;
  bottom: 0%;
}

.house-section {
  max-height: 1400px;
  width: 100%;
}

.testimonial {
  max-height: 731px;
  width: 100%;
}

.why-choose-us {
  max-height: 685px;
  width: 100%;
}