.testimonial{
    max-height: 731px;
    width: 100%;
    position: relative;
}

.title-text-square {
    max-width: 1110px;
    max-height: 404px;
    position:absolute;
    color: white;
    top: 50%;
    left: 30%;
    right: 30%;
    
}