.why-choose-us{
    max-height:685px;
    width: 100%;
    position:relative;
}

.text-button-why-choose-us{
    max-width: 526px;
    max-height: 342px;
    color: white;
    position: absolute;
    top: 50%;
    left: 30%;
}